@use '../abstracts/mixin' as m;
@use '../abstracts/variables' as *;

/* -- PRESENTATION -- */

.presentation {
    margin: 2vh;
    padding: 0 3vw;
    @include m.dflex(column, space-around, center);
    // gap : 10vh;
    &__desc {
        margin: 0 3vw;
        // max-width: 0%;
        p {
            text-align: center; 
        }
    }
}

.matches {
    h2 {
        text-align: center;
    }
    /* ... */
    &__lst {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
        gap: 3vw;

        figure {
            width: 30%; 
            margin-bottom: 3vw;
            position: relative;

            iframe {
                width: 100%;
            }

            img {
                width: 100%;
                height: auto;
            }

            figcaption {
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}

/* ------ RESPONSIVE ---- */

@media screen and (max-width: 1024px) {
    
.presentation {
    &__title h2 {
        font-size: 3rem;
        text-align: center;
    }

    &__desc p {
        font-size: 2rem;
    }
}

.matches {
    margin: 3vw;
    padding: 0 3vw;

    @include m.dflex(column, space-around, center);

    &__title {
        h2 {
            font-size: 2em;
            text-align: center;
            margin-bottom: 5vh;
        }
    }

    &__lst {
        display: flex;
        flex-wrap: wrap;
        gap: 3vw;

        figure {
            width: 100%;
            margin-bottom: 3vw;
            position: relative;

            iframe {
                width: 100%;
            }

            figcaption {
                text-align: center;
                margin-top: 10px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        &__lst figure {
            width: 100%; 
        }
    }
}

}