{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block main %}
<div class="presentation">
    <div class="presentation__title">
        <h2>Mais quelle est l'histoire derrière ce tournoi, ce Grand Chelem : Wimbledon ?</h2>
    </div>
    <div class="presentation__desc"> 
        <p>Wimbledon, le plus ancien et le plus prestigieux tournoi de tennis au monde, est une célébration annuelle du sport, de la tradition et de l'excellence. Situé dans le quartier londonien de Wimbledon, ce tournoi de Grand Chelem attire l'attention du monde entier avec son histoire riche, son herbe immaculée, ses légendes du tennis et son atmosphère inégalée. Le tournoi de Wimbledon a débuté en 1877, faisant de lui le plus ancien tournoi de tennis du Grand Chelem. Ce qui le distingue particulièrement, c'est son revêtement en gazon, qui confère au tournoi une élégance unique et offre aux joueurs une expérience de jeu exaltante. Les célèbres courts de gazon, notamment le Centre Court et le Court n°1, sont le théâtre de moments historiques et de matches mémorables. Chaque année, Wimbledon attire les meilleurs joueurs de tennis du monde qui se disputent le titre convoité. Les compétitions masculines et féminines offrent un spectacle de classe mondiale, avec des duels épiques, des émotions intenses et des moments de pure magie sportive.<br><br>En réservant vos places sur notre site Wimbledon Grand Slam, vous ouvrez la porte à une expérience inoubliable. Nous proposons une sélection variée de places, des sièges de choix sur le Centre Court aux tribunes animées du Court n°1. Que vous soyez un passionné de tennis chevronné ou que vous découvriez l'atmosphère unique de Wimbledon pour la première fois, nous avons des options adaptées à chaque préférence. Notre plateforme de réservation facile à utiliser vous permet de choisir vos sièges préférés, de visualiser la disposition des courts et de planifier votre journée parmi l'excitation du tournoi. En plus des billets individuels, nous proposons des forfaits spéciaux qui incluent des privilèges exclusifs, comme l'accès à des zones VIP, des rencontres avec d'anciennes gloires du tennis et bien plus encore. Rejoignez-nous pour célébrer l'héritage exceptionnel de Wimbledon et vivre l'intensité du tennis de classe mondiale. Réservez dès maintenant sur Wimbledon Grand Slam et soyez prêt à plonger dans l'atmosphère envoûtante de ce tournoi légendaire. Laissez-vous emporter par l'élégance du gazon, le frisson de la compétition et la magie de Wimbledon.</p>
    </div>
</div>
<div class="matches">
    <div class="matches__title">
        <h2>Revivez les meilleurs matchs de Wimbledon de l'année 2023 !</h2>
    </div>
    <div class="matches__lst">
         <figure>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DayTsZvKmd8?si=il_Od2CijQOfPAvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Novak Djokovic - Carlos Alcaraz | Finale</figcaption>
        </figure>
        <figure>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3mn9e5cEHyo?si=TsJcu9bmWe4zcsZm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Daniil Medvedev - Carlos Alcaraz | 1/2 finale
        </figure>
        <figure>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9QVvO7yjgLQ?si=GaVCjNm48APhTE2p" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Andrey Rublev - Alexander Bublik | 1/8e de finale</figcaption>
        </figure>
        <figure>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K1g8cFXw330?si=hcLxeHSYn0ufpDCH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Stefanos Tsitsipas - Christoper Eubanks | 1/8e de finale</figcaption>
        </figure>
        <figure>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ze6UqG_o6o0?si=Hk9uNCW9wd5rWG6C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Novak Djokovic - Hubert Hurkacz | 1/8e de finale</figcaption>
        </figure>
        <figure>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g0kqmgoSmBE?si=5tT0L6dcQCKdPclh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Andy Murray - Stefanos Tsitsipas | 2e tour</figcaption>
        </figure>
    </div>
</div>

{% endblock %}
