{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Service{% endblock %}

{% block main %}
<div class="services">
    <h2>Nos services</h2>
    <div class="matches">
    <div class="matches__title">
        <h3>Nous vous proposons pour une meilleure expérience de retracer tous les grands moments de Wimbledon !</h3>
        <h4>Wimbledon | 2023</h4>
    </div>
    <div class="matches__lst">
         <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/DayTsZvKmd8?si=il_Od2CijQOfPAvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Novak Djokovic - <b>Carlos Alcaraz</b> | Finale</figcaption>
            <p>Le jeune prodige espagnol, Carlos Alcaraz, a affronté le maître des lieux, Novak Djokovic, dans une finale idéale sur le papier. Carlos Alcaraz a remporté le match en cinq sets et 4 heures et 42 minutes de jeu, avec un score final de 1-6, 7-6, 6-1, 3-6, 6-4 3. Cette victoire est d’autant plus impressionnante qu’il était complètement passé à côté de son entame de match. Il s’agit de la deuxième victoire de Carlos Alcaraz en tournoi du Grand Chelem après l’US Open 2022.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/3mn9e5cEHyo?si=TsJcu9bmWe4zcsZm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Daniil Medvedev - <b>Carlos Alcaraz</b> | 1/2 finale</figcaption>
            <p>Carlos Alcaraz a nettement dominé son match face à Daniil Medvedev en s'imposant 3 sets 0 et en ne laissant aucune chance au russe, bien supérieur dans tous les compartiments du jeu.<br> Il s'est imposé 6-3, 6-3, 6-3 au terme d'un match qui aura duré moins de 2 heures (1h50).
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/DhmFPh6KVq0?si=-RTE8u25iYX_elG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Jannik Sinner - <b>Novak Djokovic</b> | 1/2 finale</figcaption>
            <p>La demi-finale de Wimbledon 2023 entre Novak Djokovic et Jannik Sinner a été un match très disputé. Novak Djokovic a remporté le match en trois sets et 2 heures et 48 minutes de jeu, avec un score final de 6-3, 4-6, 7-6, 6-4 1.<br>Djokovic a réussi à se qualifier pour sa 35e finale en Grand Chelem.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/0-h6IVCzpzg?si=eCbMYFQaeSYuWE_W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Carlos Alcaraz</b> - Holger Rune | 1/4 de finale</figcaption>
            <p>Le 12 juillet 2023, Carlos Alcaraz a affronté Holger Rune en quarts de finale de Wimbledon 2023. Carlos Alcaraz a remporté le match en trois sets secs avec un score final de 7-6, 6-4, 6-4. Le match a duré 2 heures et 20 minutes. Alcaraz a fait preuve d'autorité tout au long du match et a finalement remporté assez aisément cette partie.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/L0ksxAVjwtA?si=wufWZCsdmyuU-sc1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Daniil Medvedev</b> - Chris Eubanks | 1/4 de finale</figcaption>
            <p>Daniil Medvedev a remporté le match en cinq sets et 2 heures et 58 minutes de jeu, avec un score final de 6-4, 1-6, 4-6, 7-6, 6-1. Le match a été très disputé, avec des moments de tension et de suspense. Daniil Medvedev est revenu de très loin après avoir été mené 2 manches à 1. Cette victoire lui a permis de se qualifier pour les demi-finales de Wimbledon.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/9QVvO7yjgLQ?si=GaVCjNm48APhTE2p" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Andrey Rublev</b> - Alexander Bublik | 1/8e de finale</figcaption>
            <p>Andrey Rublev a affronté Alexander Bublik en huitièmes de finale de Wimbledon 2023. Andrey Rublev a remporté le match en cinq sets et 3 heures et 20 minutes de jeu, avec un score final de 7-5, 6-3, 6-7, 6-7, 6-4. Un match spectaculaire avec notamment le point du tournoi remporté par Rublev pour s'offrir une balle de match. Cette victoire propulse Andrey Rublev en quarts de finale.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/K1g8cFXw330?si=hcLxeHSYn0ufpDCH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Stefanos Tsitsipas - <b>Christoper Eubanks</b><br>1/8e de finale</figcaption>
            <p>La rencontre entre Stefanos Tsitsipas et Christopher Eubanks en huitièmes de finale de Wimbledon 2023 a été un match très disputé. Les deux joueurs ont offert un spectacle de haut niveau, avec des échanges intenses et des coups spectaculaires. Malgré un début de match difficile, Christopher Eubanks a su se ressaisir et a finalement remporté le match en cinq sets : 3-6, 7-6, 3-6, 6-4, 6-4. Stefanos Tsitsipas, quant à lui, a montré une grande maîtrise technique et une grande résilience tout au long du match, mais cela n'a pas suffi pour l'emporter.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/ze6UqG_o6o0?si=Hk9uNCW9wd5rWG6C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Novak Djokovic</b> - Hubert Hurkacz | 1/8e de finale</figcaption>
            <p><br>Le match opposant Novak Djokovic et Hubert Hurkacz aura été la preuve d'une belle progression du polonais cette année, notamment sur le service. Il a livré un match très solide, en servant très bien laissant Djokovic sans solution pendant un long moment avec notamment 2 tie-break disputés. Ce match a été joué sur 2 jours, à cause du couvre-feu londonien. Le match a finalement été remporté par Djokovic : 7-6, 7-6, 5-7, 6-4.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/g0kqmgoSmBE?si=5tT0L6dcQCKdPclh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Andy Murray - <b>Stefanos Tsitsipas</b> | 2e tour</figcaption>
            <p><br>Le match entre Andy Murray et Stefanos Tsitsipas au deuxième tour a été un match épique qui a duré plus de 4 heures 1. Les deux joueurs ont offert un jeu de très haut niveau, avec des échanges variés et intenses. Malgré un début de match difficile de la part d'Andy Murray, il a su se ressaisir et a finalement remporté le deuxième et troisième. Cependant, Stefanos Tsitsipas est monté en puissance dans ce match et a finalement renversé le britannique chez lui en s'imposant difficilement en 5 sets. Le match s'est également étendu sur deux jours à cause du couvre feu.</p>
        </figure>
    </div>
    <div class="matches__title">
        <h4>Wimbledon | Les autres années précédentes</h4>
    </div>
    <div class="matches__lst">
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/ULKvaNTpuxI?si=KeqdWCS5QpA7q3zC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Novak Djokovic</b> - Nick Kyrgios | Finale (2022)</figcaption>
            <p>	
Novak Djokovic, 3e mondial, a remporté le tournoi de Wimbledon, dimanche 10 juillet, en disposant de Nick Kyrgios, 40e mondial (4-6, 6-3, 6-4, 7-6). Il s’agit du septième sacre sur le gazon londonien, ce qui lui permet de revenir à une longueur de Roger Federer, vainqueur huit fois du tournoi. Surtout, il s’agit de son 21e titre du Grand Chelem, ce qui lui permet de revenir à une unité de Rafael Nadal. Le Serbe glane aussi son premier majeur en 2022, lui qui en avait gagné trois en 2021.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/q0HRK-jizDo?si=DEFfOgx07aphUmBZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Rafael Nadal</b> - Taylor Fritz | 1/4 de finale (2022)</figcaption>
            <p>Diminué par des douleurs aux abdominaux, le Majorquin s’est montré le plus fort dans les instants cruciaux d'un match marqué par des hauts et des bas des deux côtés du filet. Poussé par l’Américain à servir deux fois pour rester dans le match, au quatrième puis au cinquième set, Rafael Nadal a serré le jeu à chaque fois. Fidèle à sa réputation, le roi Rafael Nadal a refusé d'abdiquer. Au terme d'un combat long de 4h20, bouclé au super tie-break, l'Espagnol s'est défait de Taylor Fritz (3-6, 7-5, 3-6, 7-5, 7-6[10-4]) en quarts de finale.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/QMuTewUh-1c?si=qMwmcgIumjTDOIfT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Novak Djokovic</b> - Jannik Sinner | 1/4 de finale (2022)</figcaption>
            <p>Sur le Centre Court de Wimbledon, l'homme aux six titres sur le gazon anglais a été méconnaissable dans les deux premières manches. Malmené par la puissance des services adverses, le tenant du titre a accumulé les mauvais choix, multiplié les fautes directes (22 dans les deux premiers sets) et les signes de nervosité. Novak Djokovic s'est fait très peur, le Serbe est finalement venu à bout de l'Italien Jannik Sinner en cinq sets (5-7, 2-6, 6-3, 6-1, 6-2). Il arrache son ticket pour la 11e demi-finale de sa carrière sur le gazon londonien.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/-C3NzU_g9_o?si=3GZ9s3dmOkMY0sC7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Jannik Sinner</b> - Carlos Alcaraz | 1/8e de finale (2022)</figcaption>
            <p><br>Le choc de la NextGen est revenu à Jannik Sinner. L'Italien a disposé de Carlos Alcaraz en 8e de finale, dimanche, à Londres, et validé son billet pour les quarts de finale du tournoi avec autorité. Il a fallu quatre manches au Transalpin pour sortir le protégé de Juan Carlos Ferrero sur le Centre Court (6-1, 6-4, 6-7, 6-3). On n'avait plus vu cela depuis 30 ans à Wimbledon ; deux joueurs de moins de 21 ans s'affrontaient en seconde semaine pour la première fois depuis la demi-finale entre Goran Ivanisevic et Pete Sampras en 1992.</p>
        </figure>
         <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/4Tb4W3qVb94?si=NEQlz1zNSRoXCuXl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Nick Kyrgios</b> - Stefanos Tsitsipas<br>1/16e de finale (2022)</figcaption>
            <p>Et si c'était le plus beau match de la quinzaine ? Nick Kyrgios et Stefanos Tsitsipas ont livré un combat de très haute volée, samedi, entre points spectaculaires et scènes trahissant une vive tension. Un match lors duquel il s'est passé énormément de choses, sur le gazon londonien, que ce soit dans le jeu ou bien autour. La tension était palpable entre les deux hommes, qui ont bien failli perdre définitivement leurs nerfs. L'Australien a fini par dompter le Grec (6-7, 6-4, 6-3, 7-6).</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/plGsCqIrNP4?si=TXgdQSvarSYoSHOK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Roger Federer</b> - Adrian Mannarino | 1er tour (2021)</figcaption>
            <p><br>Adrian Mannarino, l'abandon le plus déchirant. Alors qu'il menait deux manches à une face à Roger Federer sur le Centre Court, le Français s'est blessé à la toute fin du 4e set, après une chute, avant de renoncer au tout début du 5e set, mardi. Roger Federer, pas au mieux, est au 2e tour après ce drôle de match de 2h44 (6-4, 6-7, 3-6, 6-2, abandon). Quel dommage pour notre français qui est passé tout proche d'un exploit retentissant !</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/xC1htc7s5I0?si=SdQCNEVylHEmlbxo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Novak Djokovic</b> - Roger Federer | Finale (2019)</figcaption>
            <p>Le 14 juillet 2019, Novak Djokovic décrochait son 5e titre à Wimbledon en battant Roger Federer au terme d'une finale au scénario inoubliable. Pour Boris Becker et Stefan Edberg, qui ont entraîné les deux hommes, le meilleur des deux n'est peut-être pas sorti vainqueur de cette finale hors normes. La plus belle de tous les temps ? Oui, selon eux. Un coup droit boisé décolle dans le ciel du Centre Court dès le deuxième coup de raquette. Voilà comment s'est achevée cette finale 2019 de Wimbledon.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/sQoQCrII18I?si=9hA6GKBfoGjs9URC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Roger Federer</b> - Rafael Nadal | 1/2 finale (2019)</figcaption>
            <p>Roger Federer s'est rapproché d'une victoire d'un neuvième titre en simple à Wimbledon, un record, en battant son rival de longue date Rafael Nadal pour organiser une finale contre un autre vieil ennemi Novak Djokovic. Federer, deuxième tête de série suisse, a gagné 7-6 (7-3) 1-6 6-3 6-4 contre la troisième tête de série espagnole devant un court central captivé. Federer a pris sa cinquième balle de match pour tenter un 21e Grand Chelem, tout en refusant à Nadal la chance d'en marquer un 19e.</p>
        </figure>
        <figure>
            <iframe width="399" height="205" src="https://www.youtube.com/embed/wDBrMG0JlRA?si=1cPc2JLHL4dXPlFr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><b>Roger Federer</b> - Kei Nishikori | 1/4 de finale (2019)</figcaption>
            <p>Leur unique précédent en Grand Chelem, à l'Open d'Australie 2017, avait été accroché (cinq sets et 3h24 de jeu). Cela a été le cas, Nishikori mettait ses qualités de relanceur à profit dès le premier jeu pour breaker. Mené et dominé, le Bâlois évitait de couler en effaçant quatre balles de double break et, de mieux en mieux au fil des minutes, obtenait une balle de débreak à 3-2. Le Japonais l'écartait et remportait le set. Roger Federer a atteint le cap des 100 victoires à Wimbledon en s'imposant contre Kei Nishikori (4-6, 6-1, 6-4, 6-4) mercredi.</p>
        </figure>
    </div>
</div>
</div>
{% endblock %}
