header {
    height: 100vh;
    background-image: url("https://www.atptour.com/-/media/images/news/2023/07/16/14/43/alcaraz-djokovic-wimbledon-2023-sunday-final-second-set.jpg");
}

@media screen and (max-width: 1024px) {
    header {
        background-repeat: no-repeat;
    }
}
