/* -- BASE -- */
body {
  color: black;
  background-color: white;
  font-family: "Gotham5r", sans-serif;
}

h2 {
  color: #54008B;
  margin: 5vh 0 5vh;
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: white;
}

/* -- COMPONENTS -- */
button {
  color: white;
  background-color: #54008B;
  cursor: pointer;
  border-radius: 5px;
  width: 15%;
  border: none;
}

/* -- LAYOUT -- */
footer {
  background-color: #54008B;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5vh;
}
.footer__content {
  text-align: center;
}
.footer__content h3 {
  color: #00703C;
  font-size: 24px;
  margin-bottom: 2vh;
}

.footer h3 {
  color: #00703C;
  font-size: 24px;
}

.footer p {
  color: white;
}

header {
  height: 100vh;
  background-image: url("https://www.atptour.com/-/media/images/news/2023/07/16/14/43/alcaraz-djokovic-wimbledon-2023-sunday-final-second-set.jpg");
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.5s ease;
}
.header.scroll {
  background-color: white;
}
.header__nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 0 0 5vh;
}
.header__nav__logo img {
  width: 5vw;
}
.header__nav__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header__nav__item a {
  margin-right: 5vh;
  font-size: 20px;
}

.title {
  color: white;
}

/* -- PAGE -- */
.about h2 {
  margin: 5vh 0 5vh 0;
  text-align: center;
}

/* -------- HISTORY -------- */
.history {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-bottom: 5vh;
}
.history__logo img {
  margin-left: 5vh;
  width: 35vw;
}
.history__content {
  margin-right: 5vh;
}
.history__content h3 {
  margin-bottom: 5vh;
}

.history__part2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.history__part2 .history__content {
  margin-left: 5vh;
}

.history__part2 .history__logo img {
  margin-right: 5vh;
  width: 35vw;
}

/* ------------ WORTH ------------- */
.worth {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-bottom: 5vh;
}
.worth__logo img {
  margin-left: 5vh;
  width: 35vw;
}
.worth__content {
  margin-right: 5vh;
}
.worth__content h3 {
  margin-bottom: 5vh;
}

.worth__part2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.worth__part2 .worth__content {
  margin-left: 5vh;
}

.worth__part2 .worth__logo img {
  margin-right: 5vh;
  width: 35vw;
}

/* ------------ PALMARES ------------- */
.palmares {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-bottom: 5vh;
}
.palmares__logo img {
  margin-left: 5vh;
  width: 35vw;
}
.palmares__content {
  margin-right: 5vh;
}
.palmares__content h3 {
  margin-bottom: 5vh;
}

.wta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wta .palmares__content {
  margin-left: 5vh;
}

.wta .palmares__logo img {
  margin-right: 5vh;
  width: 35vw;
}

.contact-title {
  text-align: center;
  padding: 20px 0;
  background-color: #54008B;
  color: #fff;
  margin: 0;
}

#contact_section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.contact__form {
  flex: 1;
  max-width: 600px;
}

.contact__form h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  margin-top: 5px;
}

button {
  background-color: #54008B;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.contact__information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  margin-top: 10vh;
}

.group {
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  height: 350px;
  border: 0;
}

.group p {
  margin: 5px 0;
}

.group img {
  width: 20px;
  margin-right: 10px;
}

/* ---- RESPONSIVE ----- */
@media screen and (max-width: 1024px) and (max-width: 768px) {
  #contact_section {
    flex-direction: column;
  }
  .contact__form, .contact__information {
    padding: 20px;
  }
  iframe {
    height: 200px;
  }
}
/* -- PRESENTATION -- */
.presentation {
  margin: 2vh;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.presentation__desc {
  margin: 0 3vw;
}
.presentation__desc p {
  text-align: center;
}

.matches {
  /* ... */
}
.matches h2 {
  text-align: center;
}
.matches__lst {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3vw;
}
.matches__lst figure {
  width: 30%;
  margin-bottom: 3vw;
  position: relative;
}
.matches__lst figure iframe {
  width: 100%;
}
.matches__lst figure img {
  width: 100%;
  height: auto;
}
.matches__lst figure figcaption {
  text-align: center;
  margin-top: 10px;
}

/* ------ RESPONSIVE ---- */
@media screen and (max-width: 1024px) {
  .presentation__title h2 {
    font-size: 3rem;
    text-align: center;
  }
  .presentation__desc p {
    font-size: 2rem;
  }
  .matches {
    margin: 3vw;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .matches__title h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 5vh;
  }
  .matches__lst {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
  }
  .matches__lst figure {
    width: 100%;
    margin-bottom: 3vw;
    position: relative;
  }
  .matches__lst figure iframe {
    width: 100%;
  }
  .matches__lst figure figcaption {
    text-align: center;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  .matches__lst figure {
    width: 100%;
  }
}
.services h2, .services h3, .services h4 {
  text-align: center;
}

.services h3 {
  color: #00703C;
}

.services h4 {
  margin: 5vh 0 5vh 0;
  font-size: 1.5rem;
}

.services figure figcaption {
  margin-bottom: 2vh;
}

.services figure p {
  max-width: 399px;
  text-align: justify;
  margin: 0 auto;
}

/* ---- RESPONSIVE ------ */
@media screen and (max-width: 1024px) {
  .services {
    margin: 3vw;
    padding: 0 3vw;
  }
  .services h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3vh;
  }
  .services .matches__lst iframe {
    height: 500px;
  }
  .services .matches figure p {
    margin: 0;
    max-width: 100%;
  }
}

/*# sourceMappingURL=app.output.css.map */
