/* -- BASE -- */
body {
  color: black;
  background-color: white;
  font-family: "Gotham5r", sans-serif;
}

h2 {
  color: #54008B;
  margin: 5vh 0 5vh;
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: white;
}

/* -- COMPONENTS -- */
button {
  color: white;
  background-color: #54008B;
  cursor: pointer;
  border-radius: 5px;
  width: 15%;
  border: none;
}

/* -- LAYOUT -- */
footer {
  background-color: #54008B;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5vh;
}
.footer__services h3, .footer__about h3 {
  margin-bottom: 2vh;
}
.footer__content {
  text-align: center;
}
.footer__content h1 {
  color: #00703C;
  font-size: 24px;
  margin-bottom: 2vh;
}
.footer__content p {
  color: white;
}
.footer__media {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}
.footer__media iconify-icon {
  margin-top: 5vh;
}

.footer h3 {
  color: #00703C;
  font-size: 24px;
}

.footer p {
  color: white;
}

header {
  height: 100vh;
  background-image: url("https://www.atptour.com/-/media/images/news/2023/07/16/14/43/alcaraz-djokovic-wimbledon-2023-sunday-final-second-set.jpg");
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }
}
.header__nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 0 0 5vh;
  background-color: rgba(255, 255, 255, 0.8);
}
.header__nav__logo img {
  width: 5vw;
}
.header__nav__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header__nav__item a {
  color: #54008B;
  margin-right: 5vh;
  font-size: 20px;
}
.header__nav__item .active {
  text-decoration: underline;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 5vw;
  background-color: white;
  margin: 6px 0;
}

.title {
  color: white;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
  }
  .header__nav__item {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
  }
  .header__nav__item a {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .header__nav.show {
    display: flex;
  }
}
/* -- PAGE -- */
.about h2 {
  margin: 5vh 0 5vh 0;
  text-align: center;
}

/* -------- HISTORY -------- */
.history {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-bottom: 5vh;
}
.history__logo img {
  margin-left: 5vh;
  width: 35vw;
}
.history__content {
  margin-right: 5vh;
}
.history__content h3 {
  margin-bottom: 5vh;
}

.history__part2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.history__part2 .history__content {
  margin-left: 5vh;
}

.history__part2 .history__logo img {
  margin-right: 5vh;
  width: 35vw;
}

/* ------------ WORTH ------------- */
.worth {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-bottom: 5vh;
}
.worth__logo img {
  margin-left: 5vh;
  width: 35vw;
}
.worth__content {
  margin-right: 5vh;
}
.worth__content h3 {
  margin-bottom: 5vh;
}

.worth__part2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.worth__part2 .worth__content {
  margin-left: 5vh;
}

.worth__part2 .worth__logo img {
  margin-right: 5vh;
  width: 35vw;
}

/* ------------ PALMARES ------------- */
.palmares {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-bottom: 5vh;
}
.palmares__logo img {
  margin-left: 5vh;
  width: 35vw;
}
.palmares__content {
  margin-right: 5vh;
}
.palmares__content h3 {
  margin-bottom: 5vh;
}

.wta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wta .palmares__content {
  margin-left: 5vh;
}

.wta .palmares__logo img {
  margin-right: 5vh;
  width: 35vw;
}

/* ------ RESPONSIVE -------- */
@media screen and (max-width: 1024px) {
  .history, .worth, .palmares {
    display: block;
  }
  .about .wimbledon {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .history__content, .worth__content, .palmares__content {
    margin-right: 0;
    text-align: center;
  }
  .history__part2, .worth__part2, .palmares.wta {
    flex-direction: column-reverse;
  }
  .history__part2 .history__logo img, .worth__part2 .worth__logo img, .palmares.wta .palmares__logo img {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .history__part2 .history__content, .worth__part2 .worth__content, .palmares.wta .palmares__content {
    margin-left: 0;
  }
  .about h3 {
    font-size: 1.5rem;
  }
  .about p {
    text-align: justify;
    margin: 1vh 2vh 0 2vh;
  }
  .palmares_atp_title, .palmares_wta_title {
    margin: 0 2vh 0 2vh;
  }
  .palmares__content {
    margin-bottom: 5vh;
  }
}
.contact-title {
  text-align: center;
  padding: 20px 0;
  background-color: #54008B;
  color: #fff;
  margin: 0;
}

#contact_section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.contact__form {
  flex: 1;
  max-width: 600px;
}

.contact__form h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  margin-top: 5px;
}

.btn {
  background-color: #54008B;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.contact__information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  margin-top: 10vh;
}

.group {
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  height: 350px;
  border: 0;
}

.group p {
  margin: 5px 0;
  text-align: center;
}

.group img {
  width: 20px;
  margin-right: 10px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* ---- RESPONSIVE ----- */
@media screen and (max-width: 1024px) {
  .contact-title {
    font-size: 2rem;
    color: white;
  }
  .btn {
    padding: 10px 20px;
    width: 30%;
  }
  .contact__information {
    display: block;
  }
  .checkbox input {
    margin-right: 2vh;
  }
}
/* -- PRESENTATION -- */
.presentation {
  margin: 2vh;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.presentation__desc {
  margin: 0 3vw;
}
.presentation__desc p {
  text-align: center;
}

.matches {
  /* ... */
}
.matches h2 {
  text-align: center;
}
.matches__lst {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3vw;
}
.matches__lst figure {
  width: 30%;
  margin-bottom: 3vw;
  position: relative;
}
.matches__lst figure iframe {
  width: 100%;
}
.matches__lst figure img {
  width: 100%;
  height: auto;
}
.matches__lst figure figcaption {
  text-align: center;
  margin-top: 10px;
}

/* ------ RESPONSIVE ---- */
@media screen and (max-width: 1024px) {
  .presentation__title h2 {
    font-size: 2rem;
    text-align: center;
  }
  .presentation__desc p {
    font-size: 1rem;
    text-align: left;
  }
  .matches {
    margin: 3vw;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .matches__title h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 5vh;
  }
  .matches__lst {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
  }
  .matches__lst figure {
    width: 100%;
    margin-bottom: 3vw;
    position: relative;
  }
  .matches__lst figure iframe {
    width: 100%;
  }
  .matches__lst figure figcaption {
    text-align: center;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  .matches__lst figure {
    width: 100%;
  }
}
.services h2, .services h3, .services h4 {
  text-align: center;
}

.services h3 {
  color: #00703C;
}

.services h4 {
  margin: 5vh 0 5vh 0;
  font-size: 1.5rem;
}

.services figure figcaption {
  margin-bottom: 2vh;
}

.services figure p {
  max-width: 399px;
  text-align: justify;
  margin: 0 auto;
}

/* ---- RESPONSIVE ------ */
@media screen and (max-width: 1024px) {
  .services {
    margin: 3vw;
    padding: 0 3vw;
  }
  .services h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3vh;
  }
  .services .matches__lst iframe {
    height: 500px;
  }
  .services .matches figure p {
    margin: 0;
    max-width: 100%;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../assets/styles/app.scss%22,%22../../assets/styles/base/_base.scss%22,%22../../assets/styles/base/_reset.scss%22,%22../../assets/styles/components/_button.scss%22,%22../../assets/styles/layout/_footer.scss%22,%22../../assets/styles/abstracts/_mixin.scss%22,%22../../assets/styles/layout/_header.scss%22,%22../../assets/styles/layout/_nav.scss%22,%22../../assets/styles/page/_about.scss%22,%22../../assets/styles/page/_contact.scss%22,%22../../assets/styles/page/_home.scss%22,%22../../assets/styles/page/_services.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;ACEA;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;ACXJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;;;AFJJ;AGFA;EACI;EACA;EACA;EACA;EACA;EACA;;;AHDJ;AIJA;EACI;;;AAGJ;ECNI;EACA,gBDMiB;ECLjB,iBDKsB;ECJtB,aDIoC;EACpC;;AAEA;EACI;;AAGJ;EACI;;AAGJ;EACI;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI;EC7BJ;EACA,gBD6BqB;EC5BrB,iBD4B0B;EC3B1B,aD2BkC;EAC9B;;AAGJ;EACI;;;AAKR;EACI;EACA;;;AAGJ;EACI;;;AE/CJ;EACI;EACA;EACA;;;AAGJ;EACI;IACI;IACA;IACA;;;ACNJ;EACI;EACA;EFLJ;EACA,gBEKqB;EFJrB,iBEI0B;EFH1B,aEGwC;EACpC;EACA;;AAEJ;EACI;;AAEJ;EFbA;EACA,gBEaqB;EFZrB,iBEY0B;EFX1B,aEWwC;;AAExC;EACI;EACA;EACA;;AAGJ;EACI;;;AAIR;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;IACI;;EAGJ;IACI;IACA;IACA;IACA;IACA;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;;EAGJ;IACI;;;APxDR;AQVA;EACI;EACA;;;AAGJ;AAEA;EHRI;EACA,gBGQiB;EHPjB,iBGOsB;EHNtB,aGM8B;EAC9B;EACA;;AACA;EACI;EACA;;AAGJ;EACI;;AAGJ;EACI;;;AAIR;EH1BI;EACA,gBG0BiB;EHzBjB,iBGyBsB;EHxBtB,aGwB8B;;;AAIlC;EACI;;;AAGJ;EACI;EACA;;;AAGJ;AAEA;EACI;EH3CA;EACA,gBG2CiB;EH1CjB,iBG0CsB;EHzCtB,aGyC8B;EAC9B;EACA;;AACA;EACI;EACA;;AAGJ;EACI;;AAGJ;EACI;;;AAIR;EH7DI;EACA,gBG6DiB;EH5DjB,iBG4DsB;EH3DtB,aG2D8B;;;AAIlC;EACI;;;AAGJ;EACI;EACA;;;AAIJ;AAEA;EACI;EH/EA;EACA,gBG+EiB;EH9EjB,iBG8EsB;EH7EtB,aG6E8B;EAC9B;EACA;;AACA;EACI;EACA;;AAGJ;EACI;;AAGJ;EACI;;;AAIR;EHjGI;EACA,gBGiGiB;EHhGjB,iBGgGsB;EH/FtB,aG+F8B;;;AAIlC;EACI;;;AAGJ;EACI;EACA;;;AAGJ;AAEA;EACI;IACI;;EAGJ;IACI;IACA;IACA;IACA;;EAGJ;IACI;IACA;;EAGJ;IACI;;EAGJ;IACI;IACA;IACA;;EAGJ;IACI;;EAGJ;IACI;;EAGJ;IACI;IACA;;EAGJ;IACI;;EAGJ;IACI;;;AC5JR;EACI;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAGJ;EJlDI;EACA,gBIkDiB;EJjDjB,iBIiDsB;EJhDtB,aIgDoC;EACpC;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EJ5EI;EACA,gBI4EiB;EJ3EjB,iBI2EsB;EJ1EtB,aI0EoC;;;AAGxC;AAEA;EACI;IACI;IACA;;EAGJ;IACI;IACA;;EAGJ;IACI;;EAGJ;IACI;;;AChGR;AAEA;EACI;EACA;ELNA;EACA,gBKMiB;ELLjB,iBKKyB;ELJzB,aKIuC;;AAEvC;EACI;;AAEA;EACI;;;AAKZ;AAII;;AAHA;EACI;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;;;AAMhB;AAEA;EAGI;IACI;IACA;;EAGJ;IACI;IACA;;EAIR;IACI;IACA;ILrEA;IACA,gBKsEiB;ILrEjB,iBKqEyB;ILpEzB,aKoEuC;;EAGnC;IACI;IACA;IACA;;EAIR;IACI;IACA;IACA;;EAEA;IACI;IACA;IACA;;EAEA;IACI;;EAGJ;IACI;IACA;;;AAKZ;EACI;IACI;;;ACtGZ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;;;AAIJ;AAEA;EAEA;IACI;IACA;;EAEA;IACE;IACA;IACA;;EAKF;IACI;;EAGJ;IACI;IACA%22,%22file%22:%22app.output.css%22%7D */
